<div style="padding:50px;">
  <div id="right" class="login">
    <h1 style="padding:10px;border:0px;background-color:#FDFED8;width:480px">Login into Alumni Portal</h1>

    <div class="messagebox mistake <%= @message ? "" : "notvisible" %>">
      <% if @message %>
        <%= @message[:message] %>
      <% end %>
    </div>

    <form method="post" action="<%= @form_action || "login" %>" id="login-form"
      onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= _("Please wait...") %>'; submitbutton.disabled=true; return true;">
      <div style="float:right;margin-right:10px;">
        <a href="https://alumni.iitkgp.org/signup">First time? Signup!</a>
        <a href="https://alumni.iitkgp.org/users/forgot_password">Forgot your password?</a>
        <a href="https://alumni.iitkgp.org/users/forgot_login">Forgot your username?</a>
        <a href="https://alumni.iitkgp.org/users/cluelsess">Can't remember anything?</a>
      </div>

      <div class="label">Username</div>
      <input type="text" id="username" name="username" size="32" tabindex="1" accesskey="u" />

      <br/><br/>
      <div class="label">Password</div>
      <input type="password" id="password" name="password" size="32" tabindex="2" accesskey="p" autocomplete="off" />

      <input type="hidden" id="lt" name="lt" value="<%= @lt %>" />
      <input type="hidden" id="service" name="service" value="<%= @service %>" />
      <br/><br/><br/>
      <input type="submit" class="button" accesskey="l" value="<%= _("Login") %>" tabindex="4" id="login-submit" />
      <br/><br/><br/>
    </form>
  </div>
</div>
